.json
.vs\.json
*.json
.vs/Ransac-2d-Shape-Detection/v16/.suo
*.db
.vs/ransac-shape-detection/v16/.suo
.vs/ransac-shape-detection/v16/Browse.VC.opendb
.vs/ransac-shape-detection/v16/ipch/AutoPCH/11907fd3f6b28cc4/MAIN.ipch
*.sqlite
*.sln
*.vcxproj
*.filters
*.user
x64/Debug/main.obj
*.tlog
*.exe
*.ilk
*.log
*.pdb
*.obj
*.idb
